<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <meta name="theme-col-lgor" content="#FFE3C8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CommunitySolarPoc</title>
    @* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> *@
     
    <link href="~/js/googlesolarjs/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CommunitySolarPoc.styles.css" asp-append-version="true" />


    

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">

    <meta name="robots" content="noindex">

    <title>Google Solar API - Capstone Project Indiana University</title>
    <link href="~/js/googlesolarjs/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <!-- CSS Framework -->
    @*  <link rel="stylesheet" href="googlesolarjs/bootstrap/bootstrap.min.css"> *@
    <!-- CSS -->
    @* <link rel="stylesheet" href="style.css"> *@
    <link href="~/css/style.css" rel="stylesheet" />
    <!-- JavaScript -->
    <!-- Library -->

    <script src="~/js/googlesolarjs/library/constants.js" defer></script>
    <script src="~/js/googlesolarjs/library/geotiff.js" defer></script>
    <script src="~/js/googlesolarjs/library/googleapis.js" defer></script>
    <script src="~/js/googlesolarjs/library/googlemaps.js" defer></script>
    <script src="~/js/googlesolarjs/library/geotifflib.js" defer></script>
    <script src="~/js/googlesolarjs/library/project.js" defer></script>
    <script async src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBwzMj6Ih6b56d5jiom1hDY1q_KyTGsGFc&loading=async&callback=onGoogleMapsLoaded&libraries=maps,marker&v=beta" defer></script>

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">CommunitySolarPoc</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            @* <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a> *@
                        </li>
                        <li class="nav-item">
                            @* <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a> *@
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
           @*  &copy; 2024 - CommunitySolarPoc - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a> *@
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
   @*  <script src="~/js/site.js" asp-append-version="true"></script> *@
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
